beautifulsoup4==4.6.1
bs4==0.0.1
certifi==2018.4.16
chardet==3.0.4
idna==2.7
lxml==4.2.3
mojimoji==0.0.8
pudb==2018.1
Pygments==2.2.0
requests==2.19.1
selenium==3.13.0
six==1.11.0
slackbot==0.5.3
slacker==0.9.65
urllib3==1.23
urwid==2.0.1
websocket-client==0.44.0
